<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Complete Your Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="skipForNow()" fill="clear">Skip</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="medium" class="info-text">
    <p>Just a few more details to complete your profile</p>
  </ion-text>

  <div class="input-container">
    <ion-label>Phone Number</ion-label>
    <ion-item lines="none">
      <ion-input  type="tel" placeholder="+27 12 345 6789" [(ngModel)]="profile.phone" (ionChange)="validatePhone()"></ion-input>
    </ion-item>
    <ion-note *ngIf="phoneError" color="danger">{{ phoneError }}</ion-note>
  </div>

  <div class="input-container">
    <ion-label>Gender</ion-label>
    <ion-item lines="none">
      <ion-select placeholder="Select your gender" [(ngModel)]="profile.gender" interface="action-sheet">
        <ion-select-option value="Female">Female</ion-select-option>
        <ion-select-option value="Male">Male</ion-select-option>
        <ion-select-option value="Other">Other</ion-select-option>
        <ion-select-option value="Prefer not to say">Prefer not to say</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <div class="input-container">
    <ion-label>Date of Birth</ion-label>
    <ion-item lines="none">
      <ion-datetime presentation="date" placeholder="Select your birth date" [(ngModel)]="profile.dateOfBirth" [max]="maxDate" [min]="minDate"></ion-datetime>
    </ion-item>
  </div>

  <div class="button-container">
    <ion-button shape = "round" expand="block" class="complete-button" (click)="saveProfile()"[disabled]="!isProfileComplete()"> Complete Profile </ion-button>
  </div>
</ion-content>