<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Log in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class = "username-container">
    <ion-label>Username of Email</ion-label>
    <ion-item lines = "none">
      <ion-input placeholder="insert username or email"></ion-input>
    </ion-item>
  </div>

  <div class = "password-container">
    <ion-label>Password</ion-label>
    <ion-item lines = "none">
      <ion-input type = "password" placeholder="enter password here" [(ngModel)]="passwordValue">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
  </div>

  <ion-button class="login-button" shape ="round">Log in</ion-button>

  <ion-text>
    <a routerLink="../signup">Don't have an account?</a>
  </ion-text>
</ion-content>
