<ion-content [fullscreen]="true">
  <div class = "profile-picture">
    <ion-item lines="none">
      <ion-avatar id = "profile-pic-avatar">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar> <!-- for now it will be hard coded but soon it will contain something hard coded-->
    </ion-item>
  </div>

  <div id = "username-container"> {{profiles[0].username}} </div>

  <div class="personal-info">
  <ion-label class="section-title">Personal Information</ion-label>

  <div class="info-card"> 
      <ion-list lines="none">
        <ion-label>
          
          <ion-row class="info-row">
            <ion-col size="6"><strong>Full Name:</strong></ion-col>
            <ion-col size="6" class="value-right">{{ profiles[0].firstName }} {{ profiles[0].lastName }}</ion-col>
          </ion-row>

          <ion-row class="info-row">
            <ion-col size="6"><strong>Email:</strong></ion-col>
            <ion-col size="6" class="value-right">{{ profiles[0].email }}</ion-col>
          </ion-row>

          <ion-row class="info-row">
            <ion-col size="6"><strong>Phone:</strong></ion-col>
            <ion-col size="6" class="value-right">{{ profiles[0].phone }}</ion-col>
          </ion-row>

          <ion-row class="info-row">
            <ion-col size="6"><strong>Gender:</strong></ion-col>
            <ion-col size="6" class="value-right">{{ profiles[0].gender }}</ion-col>
          </ion-row>

          <ion-row class="info-row">
            <ion-col size="6"><strong>Date of Birth:</strong></ion-col>
            <ion-col size="6" class="value-right">{{ profiles[0].dateOfBirth }}</ion-col>
          </ion-row>

          <ion-row class="info-row">
            <ion-col size="6"><strong>Age:</strong></ion-col>
            <ion-col size="6" class="value-right">{{ profiles[0].age }}</ion-col>
          </ion-row>
        </ion-label>
      </ion-list>
  </div>
</div>

  <!-- I am going to have to implement this and make sure that it actually works-->
  <div class="lighting-mode">
    <ion-item>
      <ion-icon 
        [name]="darkMode ? 'moon' : 'sunny-outline'" 
        [color]="darkMode ? 'dark' : 'warning'">
      </ion-icon>
      <ion-toggle [(ngModel)]="darkMode">Dark Mode</ion-toggle>
    </ion-item>
  </div>

  <div class = "settings-container"> <!-- this will have the settings and privacy-->
    <ion-item button detail = "true" (click)="openSettings()">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label class = "settings-title">Settings and Privacy</ion-label>
    </ion-item>
  </div>

  <div class = "log-out-container">
    <ion-item button detail = "true" (click)="openSettings()"> <!--this should come up with a prompt, maybe have an action-sheet as prompt and then lead to a login page-->
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label class = "settings-title">Log Out</ion-label>
    </ion-item>
  </div>
</ion-content>
