<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sign up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class = "names-container">
    <ion-label>First Name</ion-label>
    <ion-item lines = "none">
      <ion-input placeholder="insert first name"></ion-input>
    </ion-item>

    <ion-label>Last Name</ion-label>
    <ion-item lines = "none">
      <ion-input placeholder="insert last name"></ion-input>
    </ion-item>

    <ion-label>Email</ion-label>
      <ion-item lines = "none">
        <ion-input placeholder="insert email"></ion-input>
      </ion-item>
  </div>

  <div class="password-container">
    <ion-label>Password</ion-label>
    <ion-item lines="none">
      <ion-input
        type="password" placeholder="Enter password" [(ngModel)]="passwordValue">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
  </div>

  <div class="confirm-password-container">
    <ion-label>Confirm Password</ion-label>
    <ion-item lines="none">
      <ion-input
        type="password"
        placeholder="Re-enter password"
        [(ngModel)]="confirmPassword"
      >
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
  </div>

  <ion-text color="danger" *ngIf="passwordValue && confirmPassword && passwordValue !== confirmPassword">
    Passwords do not match
  </ion-text>


  <!-- !the login button should lead to the tabs, but the password has to be checked and stuff, will implement later-->
  <ion-button button detail = "true" (click)="openCompleteProfile()" class="login-button" shape ="round" [disabled]="passwordValue !== confirmPassword || !passwordValue" >Sign up</ion-button>

  <ion-text>
    <a routerLink="../login">Already have an account?</a>
  </ion-text>
</ion-content>
