<ion-tabs>
  <ion-tab-bar slot = "bottom">

    <ion-tab-button tab = "home">
      <ion-icon name = "home"></ion-icon>
      Home
    </ion-tab-button>

    <ion-tab-button tab = "map">
      <ion-icon name = "map"></ion-icon>
      Map
    </ion-tab-button>

    <ion-tab-button tab="alerts">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="danger" class="tab-badge">11</ion-badge>  <!-- this has been hard coded, need to find a way to make it dynamic-->
      <ion-label>Alerts</ion-label>
    </ion-tab-button>


    <ion-tab-button tab = "profile">
      <ion-icon name = "person-circle-outline"></ion-icon>
      Profile
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>